<div class="home-container">
    <div class="welcome-card" id="main">
        <div class="welcome-text">
            <h1 class="">Welcome to RatingHub360</h1>
            <p class="lead">Discover verified ratings and reviews to make informed decisions about services and
                companies.</p>
            <a href="/rating" class="btn btn-primary btn-lg mt-4">Explore Ratings</a>
        </div>
    </div>

    <div class="card rating-card text-center my-5">
        <div class="card-body">
            <h2>Browse Verified Reviews</h2>
            <p class="lead">Explore honest and transparent reviews from real users to find the best options for your
                needs.</p>
            <a href="/rating" class="btn btn-outline-light view-rating text-dark">Browse Reviews</a>
        </div>
    </div>

    <div class="container text-center my-5">
        <h3 class="display-4 ">Featured Companies</h3>
        <div class="row  justify-content-center d-flex" style="gap:40px">
            <div class="card company-card">
                <img src="/assets/company1.png" class="card-img-top" alt="Company 1">
            </div>
            <div class="card company-card">
                <img src="/assets/company2.png" class="card-img-top" alt="Company 2">
            </div>
            <div class="card company-card">
                <img src="assets/company3.png" class="card-img-top" alt="Company 3">
            </div>
        </div>
    </div>




</div>