<div class="dashboard-container">
  <h2>Dashboard</h2>
  <div class="cards">
    <div class="card blue">
      <h3>{{userCount}}</h3>
      <p>User Registered</p>
      <button class="info-btn" [routerLink]="'/admin-home/admin-user'">More info</button>
    </div>
    <div class="card red">
      <h3>{{ awaitingApprovalCount }}</h3> <!-- Dynamic Count -->
      <p>Awaiting Approval</p>
      <button class="info-btn" [routerLink]="'/admin-home/admin-user'">More info</button>
    </div>

    <div class="card green">
      <h3>{{companyCount}}</h3>
      <p>Company Registered</p>
      <button class="info-btn" [routerLink]="'/admin-home/admin-company'">More info</button>
    </div>

    <div class="card yellow">
      <h3>{{adminCount}}</h3>
      <p>Administrator</p>
      <button class="info-btn" [routerLink]="'/admin-home/admin-manage'">Manage Admin</button>
    </div>
  </div>
</div>