.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #002147;

}

/* Parent container */
.login-register-container {
    width: 400px;
    height: 550px;
    position: relative;
    perspective: 1000px;
}

/* Forms container with flipping effect */
.login-container {
    width: 100%;
    height: auto;
    position: absolute;
    background-color: none important;
    backface-visibility: hidden;
    transition: transform 2s;
    border-radius: 15px;
    /* box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2); */
    backdrop-filter: blur(12px);
    padding: 30px;
    text-align: center;
}

.login-form {
    transform: rotateY(0deg);
}

.register-form {
    transform: rotateY(180deg);
}

.flipped .login-form {
    transform: rotateY(-180deg);
}

.flipped .register-form {
    transform: rotateY(0deg);
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.input-group {
    display: block;
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    color: white;
    font-weight: 500;
}

.inputtext,
.password-wrapper input {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
    background: rgba(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.password-wrapper {
    display: flex;
    align-items: center;

    transition: all 0.3s ease-in-out;
}

.toggle-password {
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    color: rgb(0, 0, 0);
    transition: all 0.3s ease-in-out;
}

.toggle-password:hover {
    color: #007bff;
}

button {
    width: 100%;
    padding: 12px;
    background: #6e8efb;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

button:hover {
    background: #5a79f4;
    transform: translateY(-3px);
}

.separator {
    text-align: center;
    margin: 15px 0;
    font-weight: bold;
    color: white;
}

.register-text {
    text-align: center;
    font-size: 14px;
    color: white;
    font-weight: 500;
    margin-top: 10px;
}