<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg ">
                <div class="card-header text-center">
                    <h4>We're Working Hard!</h4>
                </div>
                <div class="card-body text-center">
                    <p>Our team is working hard to bring you the best job listings. Stay tuned for updates, and we'll go
                        live soon!</p>
                    <p><strong>Thank you for your patience!</strong></p>
                </div>
                <div class="card-footer text-center">
                    <button class="btn btn-primary">Stay Tuned</button>
                </div>
            </div>
        </div>
    </div>
</div>